.buttonClass{
    align-items: flex-end;
    justify-items: center;
    display: flex;

}
.centerClass{
    align-items: center;
    justify-items: center;
    display: flex;

}
.captureMultipleDetails{
    border: solid;
    /*margin: 20px;*/
}

.windowSize{
    padding-top: 0;
}